body {
	background: linear-gradient(to right, #AAA6E0 10%, #4C4790); 
	font-family: helvetica;
	margin: 5 auto;
}

h1, h2 {
	/*font-family: helvetica;*/
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	color: #C8C5EF;
}

.tamastats, #timer { 
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	border: solid 5px #100C46;
	padding: 5px;
	margin: 10px auto;
	background-color: #5F5B9B;
}

.container {
	display: grid;
	/*display: grid;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 50px;
	background-color: #6861C5;
	overflow: hidden;


	/*background-image: url('https://images.homedepot-static.com/productImages/fc3aa439-bd65-46bc-aba8-ece3fa3c4c23/svn/magnolia-home-by-joanna-gaines-wallpaper-me1515-64_400_compressed.jpg')*/
	/*make transparent with https://css-tricks.com/snippets/css/transparent-background-images/*/
}

/*img, .slidein {
	animation-name: bounce;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-delay: 500ms;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;

}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 150%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}*/

.user-buttons {
	display: flex;
	flex-direction: column;
	height: 40%;
	width: 15%;
	justify-content: space-around;
}

/*//button styles/////*/

button { /*non defined style, edit these later*/
	background:linear-gradient(to bottom, #C6D2DF 5%, #66819D 100%);
	box-shadow: 3px 4px 0px 0px #899599;
	background-color:#66819D;
	border-radius:15px;
	border:1px solid #d6bcd6;
	cursor:pointer;
	color:#021121;
	font-size:17px;
	padding: 5px 40px 5px 40px;
	margin: 5px auto;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
	text-align: center;
}


button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
button:active {
	position:relative;
	top:1px;
}

	


